@font-face {
    font-family: 'Traditian';
    src: url("../font/Traditian.ttf");
}

@font-face {
    font-family: "Sarabande W00 Regular";
    src: url("https://db.onlinewebfonts.com/t/c52418bff7a3031298f880144a48a8c2.eot");
    src: url("https://db.onlinewebfonts.com/t/c52418bff7a3031298f880144a48a8c2.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/c52418bff7a3031298f880144a48a8c2.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/c52418bff7a3031298f880144a48a8c2.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/c52418bff7a3031298f880144a48a8c2.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/c52418bff7a3031298f880144a48a8c2.svg#Sarabande W00 Regular")format("svg");
}